<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="JaxRS 2020-12 Target Platform" sequenceNumber="68">
<locations>
<location path="${project_loc:org.eclipse.ecf.jaxrs.releng.target}/lib/cxf" type="Directory"/>
<location path="${project_loc:org.eclipse.ecf.jaxrs.releng.target}/lib/validation" type="Directory"/>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
		<repository location="http://download.eclipse.org/releases/2020-12"/>
	</location>
	<location path="${project_loc:org.eclipse.ecf.jaxrs.releng.target}/lib/jersey-2.30.1" type="Directory"/>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/rt/ecf/3.14.18/site.p2/3.14.18.v20201102-0420/"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.examples.feature.feature.group" version="1.0.200.v20200611-1508"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.examples.feature.source.feature.group" version="1.0.200.v20200611-1508"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.feature.source.feature.group" version="3.14.18.v20201102-0420"/>
		<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.701.v20201027-0550"/>
		<unit id="org.eclipse.ecf.core.feature.source.feature.group" version="1.5.701.v20201027-0550"/>
		<unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="1.1.500.v20200812-2314"/>
		<unit id="org.eclipse.ecf.filetransfer.feature.source.feature.group" version="3.14.1702.v20201025-2315"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.source.feature.group" version="3.14.18.v20201101-0619"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.source.feature.group" version="1.1.300.v20200611-1836"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient45.feature.source.feature.group" version="1.0.702.v20201025-2303"/>
		<unit id="org.eclipse.ecf.filetransfer.ssl.feature.source.feature.group" version="1.1.400.v20200812-2314"/>
	</location>
</locations>
</target>